.overload-learning {
    background: url("../asset/courses.jpg") no-repeat right;
    background-size: cover;
    height: 50vh;
    position: relative;
}

.overload-learning a {
    position: absolute;
    bottom: 40px;
    left: 40px;
    background-color: #4285f4;
    color: #fff;
    padding: 10px 20px;
    font-size: 1.5em;
}

.overload-learning a:hover {
    background-color: #4fc1e9;
}
